#----------
# General 
#----------

# local, dev, prod
export ENV=local
export PROJECT_NAME=mydaily
export BASE_URL=mydaily.com

#-----------
# Backend
#-----------

# debug or release
export GIN_MODE=debug
export BACKEND_PORT=8080

#----------
# Postgres 
#----------

export POSTGRES_USER=postgres
export POSTGRES_PASSWORD=postgres
export POSTGRES_HOST=postgres
export POSTGRES_PORT=5432
export POSTGRES_DB=db

export POSTGRES_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}

#----------
# RabbitMQ
#----------

export RABBITMQ_DEFAULT_USER=rabbitmq
export RABBITMQ_DEFAULT_PASS=rabbitmq
export RABBITMQ_URL=amqp://${RABBITMQ_DEFAULT_USER}:${RABBITMQ_DEFAULT_PASS}@rabbitmq:5672/${PROJECT_NAME}

#----------
# Redis
#----------

export REDIS_PASSWORD=redis
export REDIS_URL=redis://:${REDIS_PASSWORD}@redis:6379

#----
# Mail
#----

export MAIL_DEFAULT_SENDER='support@mydaily.com'
export RESEND_API_KEY=your-resend-api-key
