# Node.js dependencies
/.pnp
.pnp.js
yarn.lock
node_modules/
pnpm-lock.yaml
.yarn/install-state.gz

# vercel
.vercel

# Build artifacts
dist-ssr
.out/
dist/
build/
.next/
.vercel/

# TypeScript
*.tsbuildinfo
next-env.d.ts
vite.config.d.ts
vite.config.js

# Environment files
.env
.env.local
.env.*.local
.env.test.local

# Logs
logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
yarn-error.log*
lerna-debug.log*
backend/docs

# OS-specific files
*.pem
.DS_Store
Thumbs.db

# IDE and Editor files
.vscode/*
.vscode/
.idea/
*.suo
*.iml
*.ntvs*
*.njsproj
*.sln
*.sw?
*.sublime-project
*.sublime-workspace
!.vscode/extensions.json

# Tests and Coverage
jest/
coverage/
.nyc_output/

# Temporary files
tmp/
temp/
temp_repo/
*.tmp
*.swp
*.bak
*.log
*.out
*.pid
*.seed
*.sqlite

# Cache
.cache/
.pnpm-store/
.next/cache/
.ruff_cache/

# Miscellaneous
.history

# Database files
*.db
*.sqlite3
dump.sql
dump.rdb
pgdata/

# Python
*.pyc
*.pyo
*.pyd
.pycache_tmp/1
.venv/
__pycache__/
*.pytest_cache/

# FastAPI & Uvicorn
instance/
*.log
*.pid
*.sock

# Docker
*.tar
.env.docker

# PostgreSQL
pgdata/
postgres-data/

# Ansible
ansible/multipass

# AI
.claude
