{
	log {
		level ERROR
	}
}

mydaily.com {
	tls internal

	# Caddy status endpoint
	redir /caddy-status /caddy-status/
	respond /caddy-status/ "OK" 200

	# Swagger
	redir /api/swagger /api/swagger/index.html 308
	redir /api/swagger/ /api/swagger/index.html 308

	# RabbitMQ
	redir /rabbitmq /rabbitmq/ permanent
	handle_path /rabbitmq* {
		reverse_proxy rabbitmq:15672
	}

	# API
	redir /api /api/ permanent
	handle_path /api/* {
		reverse_proxy backend:8080
	}

	handle {
		reverse_proxy frontend:5173
	}
}
